@{
    ViewBag.Title = "Home Page";
}

<br /><br />
@using (Html.BeginForm("Report", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
      <div style="font-family:Arial;font-size:large">
          <div class="row">
              <div class="col-md-12">
                  @Html.TextBox("UploadedFile", "", new { type = "file" })
              </div>
          </div>
          <br />
          <div class="row">
              <div class="col-md-12">
                  <input type="submit" value="Upload" class="btn btn-primary" />
              </div>
          </div>
      </div>
}
